@font-face {
  font-family: "Inter";
  src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/382994/Inter-Light-BETA.woff2") format("woff2"),
       url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/382994/Inter-Light-BETA.woff") format("woff");
}

body {
    color: #F9F9F9;
    background: #000000;
    font-family: "Inter";
    font-size: 10vw;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    user-select: none;
    cursor: default;
}
