@font-face {
  font-family: "Inter";
  src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/382994/Inter-Light-BETA.woff2") format("woff2"),
       url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/382994/Inter-Light-BETA.woff") format("woff");
}

body {
    color: #F9F9F9;
    background: #000000;
    font-family: "Inter";
    font-size: 10vw;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    user-select: none;
    cursor: default;
}


.hey {
  color: #2b2b2b;
  font-family: "Inter";
  font-size: 1vw;
  position: absolute;
  align-items: center;
  top: 0;
  user-select: all;
}

.ijustmetyou {
  color: #2b2b2b;
  font-family: "Inter";
  font-size: 1vw;
  position: absolute;
  align-items: center;
  bottom: 0;
  user-select: all;
}

a {
	color: inherit;
}

